.introTitle {
    text-align: center;
}
.myPicture {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
.intro {
    text-align: center;
}
.description {
    text-align: center;
}

.skills {
    font-size: 25px;

}